<h1>Paper Trading Stock Website</h1>
<h2>Welcome, {{name}}</h2>
<main>
	<form action="/private/stocks" method="POST">
		<label for="stock_ticker">Look for a stock ticker: </label>
		<input type="text" name="stock_ticker" id="stock_ticker" />

		<button type="submit" value="search">Search</button>
	</form>
	{{#if hasErrors}}
	<p>{{error}}</p>
	{{/if}}

	<h3> Metrics </h3>
	<p id="totalReturn">Total Return: {{{totalReturn}}} </p>
	<p id="percentGrowth">Total Growth: {{{percentGrowth}}}% </p>
	<p id="volatility">Volatility: {{{volatility}}} </p>

	<h3>Recommendations</h3>
	<ul>
		{{#each recList}}
		<li>{{this}}</li>
		{{/each}}
	</ul>

	<button id="refresh"> Refresh </button>

	<div>
		<a href="/logout">Logout</a>
	</div>



	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="/public/js/home.js"></script>
</main>