<h1>View Buy/Sell History</h1>
<main>
	{{#each trade}}
        {{trade.transaction}}
        {{trade.ticker}}
        {{trade.value}}
        {{trade.amount}}
        {{trade.date}}
        <br>
      {{/each}}
</main> 