<link rel="stylesheet" href="/public/css/stocks.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/public/css/home.css">

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/private/home">Paper Trader</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/private/home">Home</a></li>
			<li class="active"><a href="/private/stockListings">SP 500</a></li>
			<li><a href="/private/stockHistory">History</a></li>
			<li><a href="/private/favorites">Recommendations and Favorites</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/updateUser"><span class="glyphicon glyphicon-edit"></span>Edit Account Info</a></li>
			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
			<li><a href="/deleteAccount"><span class="glyphicon glyphicon-trash"></span>Delete Account</a> </li>
		</ul>
	</div>
</nav>

<main>
	<form action="/private/stock" method="GET" id="search_stock">

		<label for="stock_ticker">Look for a stock ticker: </label>
		<input type="text" name="stock_ticker" id="stock_ticker" />

		<button type="submit" value="search" id="search_button">
			<span class="glyphicon glyphicon-search"></span>
			Search</button>
	</form>
	{{#if hasErrors}}
	<p>{{error}}</p>
	{{else}}
	<div id="stock_info">
		<h1>{{stock.name}} ({{stock.ticker}})</h1>
		{{#ifEquals status 1}}
		<div id="refreshprice">
			<h2 id="price" class="up">${{stock.price}}</h2>
			{{else}}
			{{#ifEquals status -1}}
			<h2 id="price" class="down">${{stock.price}}
			</h2>
			{{else}}
			<h2 id="price">${{stock.price}}</h2>
			{{/ifEquals}}
			{{/ifEquals}}

			<form id="refresh">
				<label for="temp_ticker"></label>
				<input type="text" name="temp_ticker" id="temp_ticker" value={{stock.ticker}} hidden />
				<button type="submit" id="refresh_button">Refresh</button>
			</form>

			{{!-- <a id="refreshbutton"></a> --}}
		</div>

		<div id="buttons">
			<button id="1w"> 1w </button>
			<button id="1m"> 1m </button>
			<button id="1y"> 1y </button>
			<button id="5y"> 5y </button>
		</div>

		<div id="graph"> </div>

		<div id="stockDetails">
			<button id="favorites_button" name="{{stock.ticker}}">Add to Favorites</button>
			<br /><br />

			<p>Exchange: {{stock.exchange}}</p>
			<p>Industry: {{stock.industry}}</p>
			{{#ifEquals stock.range52W.high "N/A"}}
			<p id="52high">52 Week High: {{stock.range52W.high}}</p>
			{{else}}
			<p id="52high">52 Week High: ${{stock.range52W.high}}</p>
			{{/ifEquals}}
			{{#ifEquals stock.range52W.low "N/A"}}
			<p id="52low">52 Week Low: {{stock.range52W.low}}</p>
			{{else}}
			<p id="52low">52 Week Low: ${{stock.range52W.low}}</p>
			{{/ifEquals}}
			<p id="volume">Volume: {{stock.volume}}</p>
			<p id="recommendation">Recommendation: {{recommendation}}</p>
		</div>
	</div>
	<form id="transForm">
		<div class="form-check">
			<input type="radio" class="form-check-input" id="buy" name="transaction flexRadioDefault" value="buy">
			<label for="buy" class="form-check-label">Buy</label>
			<input type="radio" class="form-check-input" id="sell" name="transaction flexRadioDefault" value="sell">
			<label for="sell" class="form-check-label">Sell</label>
		</div>

		<label for="choice">Invest In:</label>
		<select id="choice">
			<option value="shares">Shares</option>
			<option value="dollars">USD ($)</option>
		</select>
		<label for="amount"></label>
		<input type="number" step=".01" id="amount" />
		<button type="submit" id="transaction_submit">Submit</button>
	</form>
	<p id="disclaimer">Due to periods of market volatility, the current displayed price may not reflect the price that
		the transaction
		will
		use. </p>
	<div id="error_container2" hidden></div>
	{{/if}}

	<script src="/public/js/jquery.blockUI.js"></script>
	{{!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> --}}

	<script src="/public/js/stock.js"></script>

	<div id="dialog-message" title="Transaction complete" hidden></div>
	<div id="dialog-message2" title="Transaction incomplete" hidden></div>
	<div class="modal fade" id="transaction_modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="modalTitle">Modal title</h5>
				</div>
				<div class="modal-body" id="modal-body"></div>
				<div class="modal-footer">
					<a class="btn btn-secondary mr-auto" href="mailto:?subject=" id="email_share"><svg
							xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-envelope" viewBox="0 0 16 16">
							<path
								d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
						</svg>
						Share by Email</a>
					</a>
					<a class="twitter-share-button btn btn-secondary mr-auto" href="https://twitter.com/intent/tweet"
						id="twitter_share" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
							height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
							<path
								d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
						</svg>
						Share on Twitter</a>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div id="error_container"></div> --}}




</main>