<link rel="stylesheet" href="/public/css/stocks.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<main>
	<form action="/private/stocks" method="POST" id="search_stock">
		<label for="stock_ticker">Look for a stock ticker: </label>
		<input type="text" name="stock_ticker" id="stock_ticker" />

		<button type="submit" value="search" id="search_button">Search</button>
	</form>
	<div id="error_container"></div>



	<div id="stock_info">
		<h1>{{stock.name}} ({{stock.ticker}})</h1>
		{{#ifEquals status 1}}
		<div id="refreshprice">
			<h2 id="price" class="up">${{stock.price}}</h2>
			{{else}}
			{{#ifEquals status -1}}
			<h2 id="price" class="down">${{stock.price}}</h2>
			{{else}}
			<h2 id="price">${{stock.price}}</h2>
			{{/ifEquals}}
			{{/ifEquals}}

			<form id="refresh">
				<label for="temp_ticker"></label>
				<input type="text" name="temp_ticker" id="temp_ticker" value={{stock.ticker}} hidden />
				<button type="submit" id="refresh_button">Refresh</button>
			</form>
			<a id="refreshbutton"></a>
		</div>

		<div id="buttons">
			<button id="1w"> 1w </button>
			<button id="1m"> 1m </button>
			<button id="1y"> 1y </button>
			<button id="5y"> 5y </button>
		</div>

		<div id="graph"> </div>
		<p>Exchange: {{stock.exchange}}</p>
		<p>Industry: {{stock.industry}}</p>
		{{#ifEquals stock.range52W.high "N/A"}}
		<p id="52high">52 Week High: {{stock.range52W.high}}</p>
		{{else}}
		<p id="52high">52 Week High: ${{stock.range52W.high}}</p>
		{{/ifEquals}}
		{{#ifEquals stock.range52W.low "N/A"}}
		<p id="52low">52 Week Low: {{stock.range52W.low}}</p>
		{{else}}
		<p id="52low">52 Week Low: ${{stock.range52W.low}}</p>
		{{/ifEquals}}
		<p id="volume">Volume: {{stock.volume}}</p>
		<p id="recommendation">Recommendation: {{recommendation}}</p>
	</div>
	<form id="transForm">
		<label for="buy">Buy</label>
		<input type="radio" id="buy" name="transaction" value="buy">
		<label for="sell">Sell</label>
		<input type="radio" id="sell" name="transaction" value="sell">

		<label for="choice">Invest In:</label>
		<select id="choice"> 
			<option value="shares">Shares</option>
			<option value="dollars">Dollars</option>
		</select>
		<input type="number" step=".01" id="amount"/>
		<button type="submit" id="transaction_submit">Submit</button>
	</form>
	<p id="disclaimer">Due to periods of market volatility, the current displayed price may not reflect the price that
		the transaction
		will
		use. </p>
	<div id="error_container2" hidden></div>

	<a href="/private" id="homeLink">Back to home page</a>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="/public/js/jquery.blockUI.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script src="/public/js/stock.js"></script>

	<div id="dialog-message" title="Transaction complete" hidden></div>
	<div id="dialog-message2" title="Transaction incomplete" hidden></div>


</main>