<main>
	<form action="/private/stocks" method="POST">
		<label for="stock_ticker">Look for a stock ticker: </label>
		<input type="text" name="stock_ticker" id="stock_ticker" />

		<button type="submit" value="search">Search</button>
	</form>
	<h1>{{stock.name}} ({{stock.ticker}})</h1>
	<h2>${{stock.price}}</h2>
	<p>Exchange: {{stock.exchange}}</p>
	<p>Industry: {{stock.industry}}</p>
	<p>52 Week High: ${{stock.range52W.high}}</p>
	<p>52 Week Low: ${{stock.range52W.low}}</p>
	<p>Volume: {{stock.volume}}</p>
</main>