<h1>View Buy/Sell History</h1>
<main>
	{{#each trades}}
        <p>Transaction Type: {{this.transaction}}</p>
        <p>Stock: {{this.ticker}}</p>
        <p>Value: {{this.value}}</p>
        <p>Amount: {{this.amount}}</p>
        <p>Date: {{this.date}}</p>
        <br />
  {{/each}}

  <a href="/private" id="homeLink">Back to home page</a>
</main> 
